@media (max-width: 599px) {
  .dropdown {
    display: inline-block;
    position: relative;
  }

  .dropdown-list {
    display: none;
    position: absolute;
    overflow: auto;
    right: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
  }
  .dropdown-list a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-icon {
    cursor: pointer;
  }
  .dropdown-icon:hover {
    background-color: aquamarine;
  }
  .dropdown:hover .dropdown-list {
    display: block;
  }

  .dropdown-list:hover {
    background-color: aliceblue;
  }
}
