* {
  margin: 0;
  padding: 0;
}
.poppins {
  font-family: Poppins;
  font-weight: 500;
  letter-spacing: 0em;
}
.all {
  margin: 40px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 5%;
  align-content: center;
}
.topbar {
  margin: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.edie {
  font-family: Heebo;
  font-size: 24px;
  font-weight: 800;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}

.header {
  display: flex;
  flex-direction: column;
  margin-left: 15vw;
}

.header a {
  font-size: 1.5vw;
  color: #2d9cdb;
  text-decoration: none;
}

.header a:hover {
  text-decoration: underline;
}

.quote-1 {
  font-family: Poppins;
  font-size: 3vw;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
  width: 18ch;
}

.image-main img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 1rem;
  margin-left: 15vw;
}

.story {
  font-family: Poppins;
  font-size: 3vw;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
  width: 15ch;
}

.uicon-size {
  font-size: 50px;
  padding: 20px;
  border-radius: 20px;
  color: white;
  background-color: blue;
  opacity: 80%;
}

.description-1 {
  font-family: Poppins;
  font-size: 1.7vw;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  width: 35ch;
  color: #4f4f4f;
}

.email-info {
  display: flex;
  position: relative;
  flex-direction: column;
  row-gap: 0.5rem;
  border-radius: 1rem;
}
.email-info label {
  font-family: Poppins;
  font-size: 1.2vw;
  font-weight: 500;
  letter-spacing: 0em;
  color: #4f4f4f;
}

#email-1 {
  background-color: #f5ececd3;
  display: inline-flex;
  width: 30vw;
  height: 1.5vw;
  border-radius: 10px;
  padding: 10px;
  text-align: start;
}
#btn-1 {
  position: relative;
  background-color: #2d9cdb;
  border-radius: 5px;
  width: 3rem;
  height: 2rem;
  margin: -3.5rem;
}

#email-1,
#btn-1 {
  border: none;
}

.services-offered {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: space-around;
  align-items: self-start;
}

.service-cards {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  margin: 0 0.5rem;
  padding: 2rem;
  row-gap: 4rem;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 2rem;
  padding: 2rem;
  max-width: 341px;
  max-height: 422px;
  border: 1px solid transparent;
}

.service:hover {
  border-radius: 1rem;
  border: 1px solid rgb(95, 95, 255);
  box-shadow: -10px 20px 20px rgba(0, 0, 0, 0.2);
}

.title-1 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0em;
  width: 15ch;
  margin-top: 80px;
  margin-left: 10vw;
}
.service-name {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.service-description {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  opacity: 80%;
}
.getstarted {
  width: 7rem;
  height: 2.5rem;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0em;
  border: 0;
  border-radius: 10px;
  background: #8a7e7e93;
  opacity: 50%;
  color: #131212f7;
}

.getstarted:hover {
  opacity: 100%;
  background-color: #2d9cdb;
  color: #ffffff;
}

#projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.image img {
  width: 100%;
  height: auto;
  border-radius: 1.5rem;
}
.project-section {
  max-width: min(1200px, 90vw);
  margin-left: auto;
  margin-right: auto;
}
#projects-header {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  width: 267px;
  height: 72px;
  margin-left: 1rem;
}

.application-type {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0em;
  color: #000000;
  opacity: 70%;
  margin-top: 0.8rem;
}

.application-name {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0em;
  color: #000000;
}

#seemore > a {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  color: #2d9cdb;
}

#team {
  display: flex;
  flex-direction: column;
}
.details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 1vw;
}
#meet-team {
  font-family: Poppins;
  font-size: 2vw;
  font-weight: 500;
  letter-spacing: 0em;
  color: rgb(248, 36, 36);
}

#chilled-team {
  font-family: Poppins;
  font-size: 3vw;
  font-weight: 500;

  letter-spacing: 0em;
  text-align: left;
}
#about-team {
  font-family: Poppins;
  font-size: 1.5vw;
  font-weight: 500;
  letter-spacing: 0em;
  color: #555454;
}

#team-images {
  display: flex;
  column-gap: 0.8rem;
  margin-top: 2rem;
  margin-left: auto;
}

#team-images > img {
  align-self: center;
  width: 25vw;
  border-radius: 1.5rem;
  object-fit: contain;
}

#right-position-team {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
}

#right-position-team :nth-child(1) {
  width: 30vw;
  border-radius: 0.8rem;
}

#right-position-team :nth-child(2) {
  border-radius: 1.5rem;
  width: 35vw;
}

.complement-container {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
}
#complement {
  font-family: Poppins;
  font-size: 3.5vw;
  font-weight: 500;
  letter-spacing: 0em;
  max-width: 40ch;
}
.complemented-person {
  display: flex;
  margin-top: 1rem;
}
.complemented-person img {
  width: 5rem;
  height: auto;
  margin-right: 1.5rem;
  border-radius: 10px;
}
.name-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#name {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
}
#desc {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  color: #828282;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #100e1d;
  margin-top: 3rem;
  padding: 3rem;
}
nav {
  display: flex;
  flex-direction: column;
}
nav > a {
  color: white;
  text-decoration: none;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.social {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
footer .edie {
  color: #ffffff;
}

.social-links > a {
  margin-right: 1em;
}

footer .email-info label {
  color: white;
  font-family: Poppins;
  font-size: 10px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
}
