@media (min-width: 600px) {
  .dropdown-icon {
    display: none;
  }
  .dropdown-list {
    position: static;
    display: flex;
    align-items: center;
    width: 50vw;
    justify-content: space-between;
  }
  .dropdown-list > a {
    text-decoration: none;
    color: black;
    font-weight: normal;
  }
  .title-1 {
    margin-left: 15vw;
  }
  .service-cards {
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: nowrap;
    column-gap: 3rem;
  }

  #projects-header {
    margin-left: 4rem;
  }
  #projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  #projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 3rem;
    justify-content: center;
  }
  .project {
    width: 40%;
  }
  #projects-container .project:nth-child(2n-1) {
    margin-top: 5rem;
  }
  #seemore {
    align-self: flex-end;
  }
  #team {
    flex-direction: row;
    column-gap: 10px;
  }
  #team-images > img {
    width: 20vw;
  }
  #right-position-team :nth-child(1) {
    width: 20vw;
    border-radius: 0.8rem;
  }

  #right-position-team :nth-child(2) {
    border-radius: 1.5rem;
    width: 25vw;
  }

  .details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 2;
    justify-content: center;
    align-content: center;
  }
  .complement-container {
    margin-left: 4rem;
  }
  footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }
}
